services:

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PORT: "5432"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  proxy:
    image: nginx
    volumes:
      - type: bind
        source: /etc/nginx/
        target: /etc/nginx/conf.d
    network_mode: host
volumes:
  pgdata:
